*{margin:0;padding:0}
form,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,p{list-style:none outside none}
textarea{resize:none;padding:5px}
.fr{float:right}
.fl{float:left}
.disn{display:none}
.breakword{
white-space: pre;           /* CSS 2.0 */
white-space: pre-wrap;      /* CSS 2.1 */
white-space: pre-line;      /* CSS 3.0 */
white-space: -pre-wrap;     /* Opera 4-6 */
white-space: -o-pre-wrap;   /* Opera 7 */
white-space: -moz-pre-wrap; /* Mozilla */
white-space: -hp-pre-wrap;  /* HP Printers */
word-wrap: break-word;      /* IE 5 */
}

.title{background:url(app_spr_x.png) repeat-x 0 -40px #E6F2FA;border-bottom:1px solid #DDD;padding-left:10px;height:27px;line-height:27px;color:#666;clear:both}
.title{background-image:url(app_spr_x.png);background-repeat:repeat-x;position:relative;height:27px;padding:0 5px;line-height:27px;border-bottom:1px solid #DDD;background-position:0 -40px}
.title b{color:#F60}
.title .btn-back{float:left;margin:4px 5px 0 0}
.title ul{position:absolute;top:0;left:-1px;height:28px;overflow:hidden}
.title li{float:left;height:28px;padding:0 10px;line-height:28px;color:#999;cursor:pointer}
.title li.focus{padding:0 9px;font-weight:bold;color:#444;border-left:1px solid #DDD;border-right:1px solid #DDD;background:#FFF;cursor:default}

.input-label{float:left;width:100%;background:url(input-label.png) repeat-y;padding:10px 0;line-height:24px;border-bottom:1px solid #eee;clear:both}
.input-label .label-text{float:left;padding-right:20px;text-align:right;width:130px}
.input-label .label-box{float:left;margin:0 10px;clear:left;margin-top:-24px;margin-left:150px;_margin-left:75px}

/* 分页 未知宽度居中 http://leotheme.cn/javascript/dom-float-center.html */
.pagination{float:left;left:50%;position:relative;margin-top:12px}
.pagination a,
.pagination button{position:relative;right:50%;text-align:center;margin:0 2px}
.pagination .prev{margin-right:15px}
.pagination .next{margin-left:15px}

/* 列表框 */
.top-bar{border-bottom:1px solid #ddd;width:100%;height:60px;overflow:hidden;position:fixed;z-index:999;top:0}
.bottom-bar{border-top:1px solid #ddd;width:100%;height:60px;overflow:hidden;position:fixed;z-index:999;bottom:0}
.top-bar .con,
.bottom-bar .con{background:#F2F2F2;height:40px;padding:10px}

.listbox{position:absolute;top:0;bottom:0;left:0;right:0}
.listbox .middle{border-top:1px solid #fff;position:absolute;top:60px;bottom:0;left:0;right:0;overflow:auto;background:#fff}
.listbox .middle li{width:100%;float:left}
.listbox .middle li.selected{background:#FBEFCE}
.listbox .middle .list-search{float:left;width:100%;border-bottom:1px solid #ccc}
.listbox .middle .list-search .input-label{background:none;width:100%;padding:5px 0;height:auto;border-bottom:0;clear:both}
.listbox .middle .list-title{background:url(spr_x.png) repeat-x 0 -702px #E6F2FA;height:25px;position:relative;color:#666;float:left;width:100%}
.listbox .middle .list-con li{padding:3px 0}
.listbox .middle .list-con li:hover{background:#FBEFCE}
.listbox .middle span.level{float:left;width:20px}
.listbox .middle span.name{float:left}
.listbox .middle span.count{float:right;width:70px;text-align:center}
.listbox .middle span.do{float:right;margin-right:20px;width:150px;text-align:center}
.listbox .middle span.type{float:right;width:100px;text-align:center}



