*{margin:0;padding:0}
form,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,p{list-style:none outside none}
textarea{resize:none;padding:5px}
.fr{float:right}
.fl{float:left}
.disn{display:none}
.breakword{
white-space: pre;           /* CSS 2.0 */
white-space: pre-wrap;      /* CSS 2.1 */
white-space: pre-line;      /* CSS 3.0 */
white-space: -pre-wrap;     /* Opera 4-6 */
white-space: -o-pre-wrap;   /* Opera 7 */
white-space: -moz-pre-wrap; /* Mozilla */
white-space: -hp-pre-wrap;  /* HP Printers */
word-wrap: break-word;      /* IE 5 */
}

.title{background:url(app_spr_x.png) repeat-x 0 -40px #E6F2FA;border-bottom:1px solid #DDD;padding-left:10px;height:27px;line-height:27px;color:#666;clear:both}
.title{background-image:url(app_spr_x.png);background-repeat:repeat-x;position:relative;height:27px;padding:0 5px;line-height:27px;border-bottom:1px solid #DDD;background-position:0 -40px}
.title b{color:#F60}
.title .btn-back{float:left;margin:4px 5px 0 0}
.title ul{position:absolute;top:0;left:-1px;height:28px;overflow:hidden}
.title li{float:left;height:28px;padding:0 10px;line-height:28px;color:#999;cursor:pointer}
.title li.focus{padding:0 9px;font-weight:bold;color:#444;border-left:1px solid #DDD;border-right:1px solid #DDD;background:#FFF;cursor:default}

.input-label{float:left;width:100%;background:url(input-label.png) repeat-y;padding:10px 0;line-height:24px;border-bottom:1px solid #eee;clear:both}
.input-label .label-text{float:left;padding-right:20px;text-align:right;width:130px}
.input-label .label-box{float:left;margin:0 10px;clear:left;margin-top:-24px;margin-left:150px;_margin-left:75px}

/* 分页 未知宽度居中 http://leotheme.cn/javascript/dom-float-center.html */
.pagination{float:left;left:50%;position:relative;margin-top:12px}
.pagination a,
.pagination button{position:relative;right:50%;text-align:center;margin:0 2px}
.pagination .prev{margin-right:15px}
.pagination .next{margin-left:15px}

/* 应用码头位置设置 */
.dock_setting{width:710px;margin:auto}
.dock_setting table{width:100%}
.dock_setting .set_top{padding:10px 0 10px 320px}
.dock_setting .set_left{padding:0 5px}
.dock_setting .set_right{padding:0 5px}
.dock_setting .set_view{display:inline;float:left;width:550px;height:280px;background-image:url(dock_setting.jpg)}
.dock_setting .set_view_top{background-position:0 0}
.dock_setting .set_view_left{background-position:0 -280px}
.dock_setting .set_view_right{background-position:0 -560px}


